/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
  padding: 80px 80px 80px 80px;
}

.content-mid-header {
  background: #444;
  width: 825px;
  height:75px;
}

.content-container {
width: 825px;
height: 800px;
}

.content {
  background: #D8D8D8;
  padding: 20px 20px 20px 20px;
  width: 825px;
  height: 500px;
  text-align: center;

}
